.App {
  display: flex;
  height: 500px;
  justify-content: space-evenly;
  align-items: center;
}
.tooltipWrapper {
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.tooltipDirectionRight {
  position: relative;
  left: 3.5rem;
}

.tooltipDirectionLeft {
  position: relative;
  right: 3.5rem;
}

.tooltipDirectionBottom {
  position: relative;
  top: 3.5rem;
}

.tooltipDirectionTop {
  position: relative;
  bottom: 3.5rem;
}
